.search-btn {
    font-family: sans-serif;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 8vh;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.search-input-btn {
    margin: 20px 5px !important;
}

.select-search {
    width: 100%;
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}


/**
  * Value wrapper
  */

.select-search__value {
    position: relative;
    z-index: 1;
}

.select-search__value::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    right: 19px;
    width: 11px;
    height: 11px;
}


/**
  * Input
  */

.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 40px 0 16px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    outline: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}


/**
  * Options wrapper
  */

.select-search__select {
    background: #fff;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}


/**
  * Options
  */

.select-search__options {
    list-style: none;
    padding: 0;
    height: 15rem;
    overflow-y: scroll;
}


/**
  * Option row
  */

.select-search__row:not(:first-child) {
    border-top: 1px solid #eee;
}


/**
  * Option
  */

.select-search__option,
.select-search__not-found {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    border: none;
    outline: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.select-search__option {}

.select-search--multiple .select-search__option {
    height: 48px;
}

.select-search__option.is-selected {
    background: #2fcc8b;
    color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: #2eb378;
    color: #fff;
}


/**
  * Group
  */

.select-search__group-header {
    font-size: 10px;
    text-transform: uppercase;
    background: #eee;
    padding: 8px 16px;
}


/**
  * States
  */

.select-search.is-disabled {
    opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
    cursor: pointer;
}


/**
  * Modifiers
  */

.select-search--multiple {
    border-radius: 3px;
    overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    pointer-events: none;
}

.select-search--multiple .select-search__input {
    cursor: initial;
}

.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color: #f5ba1a;
}

.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 360px;
}

.select-search--multiple .select-search__select {
    position: relative;
    overflow: auto;
    max-height: 260px;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
}

.select-search__not-found {
    height: auto;
    padding: 16px;
    text-align: center;
    color: #888;
}


/* Home Style */

.home-section {
    display: flex;
    justify-content: start;
    align-items: start;
    /* margin: auto; */
}

.home-left {
    width: 38%;
}

.home-right {
    width: 62%;
}

.home-right-bg {
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../Images/bg.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    height: 400px;
    margin: 40px 40px;
}

.home-right-bg img {
    max-width: 100%;
    height: auto;
}

.home-product {
    margin: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home-product-card {
    padding: 10px 10px 10px 20px;
    cursor: pointer;
    margin: 10px auto;
    width: 100px;
    height: 120px;
}

.home-product-card:hover {
    background-color: #1d2227;
    border-radius: 8px;
    color: #98a6ad;
}

.home-product-card img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 5px;
}

.home-product-card p {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70px;
    white-space: nowrap;
    color: #ffffff;
    padding: 5px 0px;
}

.home-right-title {
    text-align: center;
}

.home-right-bg button {
    color: #ffdd40;
    padding: 10px 40px;
    background-color: #1f5156;
    font-size: 20px;
    border: 1px solid #ffdd40;
    border-radius: 25px;
    margin: 30px 0px;
}

.home-right-bg button:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.home-right-step {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 60px 0px 40px 0px;
}

.home-right-step i,
.container i {
    font-size: 30px;
    color: #cccccccc;
}

.service-detail {
    height: 13rem;
}

.service-detail h4,
.home-right-details-block h4,
.container h1 {
    padding: 20px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}

.container h4 {
    color: #cccccc;
    font-size: 16px;
}

.container-block {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px 0px;
    margin: 10px;
    width: 22% !important;
}

.service-detail p {
    color: #cccccc;
    width: 17rem;
}

.home-right-details,
.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px 0px;
}

.home-right-details-block {
    height: 16rem;
    padding: 0px 15px;
}

.home-right-details-block p {
    color: #cccccc;
}

.social-container a {
    text-decoration: none;
}

.social-container i {
    color: #cccccc;
    margin: 0px 20px;
    padding: 10px;
    font-size: 28px;
    cursor: pointer;
}

.social-container i:hover {
    color: #ffdd40;
}

.footer p {
    color: #cccccc;
    text-align: center;
}


/* Modal Style */

.modal-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1f5156;
    margin: 10px 10px;
    padding: 10px 10px 0px 10px;
}

.modal-product p:nth-last-child(5) {
    color: #f5ba1a;
    font-weight: bold !important;
}

.modal-product p:nth-last-child(4) {
    color: rgb(53, 53, 53);
    font-weight: bold !important;
}

.modal-product p:nth-last-child(3) {
    color: rgb(68, 94, 245);
    font-weight: bold !important;
}

.modal-product p:nth-last-child(2) {
    color: #000;
    font-weight: bold !important;
}

@media (max-width: 500px) {}